TZ=UTC
FLUENT_PATH=./fluent-bit
JSON_LOG_PATH=/var/log/
MYSQL_SLOWLOG_PATH=/var/log/
EXT_FLUENT_PORT=127.0.0.1:24224
EXT_FLUENT_METRIC_PORT=127.0.0.1:2020
GRAYLOG_HOST=graylog.example.com
GRAYLOG_URI=/gelf
GRAYLOG_PORT=443
HOST_NAME=example_host
HOST_IP=127.0.0.1
COMPOSE_PROJECT_NAME=example
COMPOSE_PROFILES=dev